@model HospitalMVC.Models.Doctores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidades.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidades.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_doctor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
